/db
/lib/
/logs/
/modules
/target/
/project/target/
/project/project/target/
/public/compiled/
/public/compiled/**
tmp/
test-result
server.pid
/dist/
.cache
.cache-main
.cache-tests
sbt.bat
sbt
/sbt-dist/
/etc/

# IntelliJ & Eclipse
/.idea
/.idea_modules
/.classpath
/.project
/.settings
*.eml
bin/
.eclipse
.project

# NodeJS
/node_modules/