// Margin && Padding
.space-bottom-small { margin-bottom: 20px; }
.space-bottom-medium { margin-bottom: 40px; }
.space-left-small { margin-left: 20px; }

// Display
.show { display: block; }
.hide { display: none; }
