$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "generic";
@import "modal";
@import "datepicker";
@import "react-calendar";
@import "login-form";
@import "tables";

/* Variables */
$sidebar_color: #2A3F54;
$default_font_color: white;
$rgm_base_color: #2A3F54;

html, body {height: 100%}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #fff;
}

@media (min-width:1024px) {
	.nav-md > #main-container .content-column {
		margin-left: 230px;
	}
	.nav-md .rgm-menu-section a {
		padding-left: 35px !important;
		text-align:left;
	}

	td > button {
	  width: 90%;
	}
}

@media (max-width: 1024px) {
	.nav-md #menu {
		display: none;
	}
	.nav-md #main-container > .content-column {
		margin-left: 0px;
	}
}

.container-fluid-rgm {
	@extend .container-fluid;
	padding-left: 0px;
}

#main-container {
	height: 100%;
	min-height: 100%;
	padding-right: 0px;
}

.nav-md > #main-container #menu {
	width: 230px;
}

div .panel-right {
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 25px;
	text-align: right;
}

.icon-circle {
  border-radius:50%;
  border:1px solid #EAEAEA;
  padding:12px;
}

.page-sidebar-title {
  font-size: 1.7em;
}

.user:hover {
  cursor: pointer;
}

/* SIDEBAR MENU STILES */
#menu {
	background-color: $sidebar_color;
	min-height: 100%;
	position: absolute;
}

#menu a {
	color: $default_font_color;
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

#menu a:hover {
  cursor: pointer;
}

#menu a > i {
	vertical-align: middle;
}

#menu a:hover {
	background-color: rgba(255, 255, 255, 0.0470588);
    background-image: linear-gradient(rgb(51, 69, 86), rgb(44, 66, 87)), initial;
	box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0
}

#menu h3 {
	color: white;
	text-decoration: underline;
	font-size: 1.3em;
	text-align: left;
	padding-left: 25px;
}

/* SIDEBAR MENU STYLES FOR MOBILE */
.nav-sm > #main-container #menu {
	width: 80px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 0.8em;
}

.rgm-menu-section {
	text-align: center;
}

.rgm-profile-section {
	padding-left: 15px;
}

.nav.side-menu > li > a > i {
	padding: 10px;
}

.top-nav {
	background-color: #EDEDED;
	padding-top:15px;
	padding-left:15px;
	padding-bottom:15px;
}

#menu .profile-img {
	max-width: 60px;
	float: left;
	padding:4px;
	margin: 15px 0px 0px 0px;
	background: #fff;
}

.top-nav .profile-img {
	max-width: 40px;
}
.top-nav .profile-text {
	padding-left: 8px;
}

a.site-title:hover {
	text-decoration: none;
}

.profile_info h2 {
	font-size: 1.2em;
  color: $default_font_color;
	font-weight: bold;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.profile_info {
	padding-top: 20px;
	padding-left: 10px;
}

.navbar.nav_title {
	padding: 25px 5px 15px 0px;
}

.navbar.nav_title a {
	padding: 10px 5px 10px 5px;
}
.navbar.nav_title > a > span {
	padding-left: 20px;
	padding-top: 0px;
	font-weight: bold;
}
.navbar.nav_title > a > i {
	vertical-align: middle;
}

.content-column {
	padding-left: 0px;
}

.nav-sm > #main-container .content-column {
	margin-left: 80px;
}

.top-nav {
	color: #515356;
}
.top-nav > .user {
	float: right;
	padding: 0px 20px 5px 0px;
}

.content {
	margin: 25px;
}

/** FORMS **/
.rgm-btn-primary {
	@extend .btn-primary;
	background-color: $rgm_base_color;
	border-radius: 0px;
}

.rgm-btn-default {
	@extend .btn-default;
	border-radius: 0px;
}

.rgm-btn-lg {
  font-size: 1.1em;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width:750px) {
	.rgm-btn-lg {
    padding-left:20px;
    padding-right:20px;
	}
}

.form-control {
	border-radius: 0px;
}

#btnRemoveResearcher {
  float: right;
  clear: both;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.nav.side-menu .active {
  background: linear-gradient(#334556,#2C4257),#2A3F54;
  box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
}
